/*font-family: 'Antonio', sans-serif;
  font-family: 'Sue Ellen Francisco', cursive;
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  position: relative;
  background-image: url(../img/image_fond.webp);
  background-repeat: repeat;
  background-size: 400px;
}

header {
  background-image: url(../img/craft.webp);
  display: flex;
}

h1 {
  margin: 0;
}

h1 img {
  width: 140px;
  margin: 30px 20px;
}

.redimention img{
  height: 30px;
}

.boite_icones {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 80px 20px 0;
}

.boite_icones img {
  width: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contenu {
  background-color: #e6d2be;
  border-radius: 30px;
  margin: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #2d5449;
  margin: 0;
}

.textes {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 16px;
  text-align: center;
  margin: 30px;
}

figure {
  margin-bottom: 0;
}

figure img {
  width: 250px;
  align-items: center;
}

.legende {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.stickers {
  width: 200px;
  transform: translate(-10px, -20px);
  position: absolute;
}

.sticker {
  width: 200px;
  transform: translate(105px, -30px);
  position: absolute;
}

.infos {
  transform: translate(140px, 70px);
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 12px;
  width: 175px;
}

.informations {
  transform: translate(40px, 30px);
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 12px;
  width: 175px;
}

.texte_orange {
  color: #ef781f;
}

.texte_rouge {
  color: #b04f67;
}

.texte_bleu {
  color: #8698ce;
}

.button {
  padding:10px 40px;
  background-image: url(../img/craft\ copie.webp);
  border-radius: 10px;
  margin-left: 90px;
  font-family: 'Antonio', sans-serif;
  font-size: 30px;
  color: #2d5449;
  text-decoration: none;
}

.carte {
  transform: translate(15px);
}

h3 {
  font-family: 'Antonio', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #2d5449;
}

.adresses {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 14px;
  text-align: center;
}

footer {
  background-image: url(../img/craft.webp);
  padding: 30px;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer a img {
  width: 100px;
  margin-top: 50px;
}

.images_boites img {
  width: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.photos_boites {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 50px 0;
  padding: 120px 0 30px 0;
}

.photos_boites_plus {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 70px 0 50px 0;
}


